# $Id: MANIFEST.in,v 1.3 2003/11/29 23:44:54 perky Exp $

include README ROADMAP AUTHORS COPYRIGHT THANKS
include MANIFEST.in NOTES.*

recursive-include src *.h *.c
recursive-include tests *.py *.txt *.utf8 *.sh
recursive-include tools *.py

global-exclude */CVS/* *.pyc *.pyo .cvsignore build/*/*
