# $Id: MANIFEST.in,v 1.2 2003/11/27 17:54:49 perky Exp $

include README ROADMAP AUTHORS COPYRIGHT THANKS
include MANIFEST.in NOTES.*

recursive-include src *.h *.c
recursive-include tests *.py *.txt *.utf8 *.sh
recursive-include tools *.py

global-exclude */CVS/* *.pyc *.pyo .cvsignore
